{% extends "base.html" %}
{% block content %}
<main>

    <form action="/search" method="GET" style="display: flex; flex-direction: column; align-items: center;">

        <div>
            <label for="event">Enter your event:</label>
            <input type="text" id="event" name="event" class="input-box">
        </div>

            <h3>Refine Search Results:</h3>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex; align-items: center; gap: 0.5em;">
                <label for="unisex">Unisex</label>
                <input type='checkbox' id="unisex" name ="unisex" value="true">
            </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex; align-items: center; gap: 0.5em;">
                <label for="ada">ADA Accessible</label>
                <input type='checkbox' id="ada" name="ada" value="true">
            </div>
        </div>
        <div>
            <button type="submit">Search</button>
        </div>

    </form>
</main>

{% endblock %}



