<!--Code credit: this file was created with guidance and inspiration from index.html from HW 6-->

{% extends "base.html" %}
{% block content %}
<main>

    <form action="/search" method="GET" style="display: flex; flex-direction: column; align-items: center;">

        <div>
            <label for="event">Enter your event:</label>
            <input type="text" id="event" name="event" class="input-box">
        </div>
        <div>
            <button type="submit">Search</button>
        </div>

    </form>
</main>

{% endblock %}



