{% extends "base.html" %}
{% block content %}
<main>

<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--        <title>Easily find public restrooms near you!</title>-->
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
<!--    </head>-->
<!--    <h2>Easily find public restrooms near you</h2>-->
    <form action="/search" method="GET" style="display: flex; flex-direction: column; align-items: center;">
<!--without css-->
        <!--&lt;!&ndash;    inputting event&ndash;&gt;-->
<!--        <div style="margin: 1em 0; text-align: center;">-->
<!--            <label for="event">Enter your event:</label>-->
<!--&lt;!&ndash;            <input type="text" id="event" name="event" placeholder="'Music Concert in Seattle'" required>&ndash;&gt;-->
<!--            <input type="text" id="event" name="event" style="border: 2px solid green; padding: 0.5em;">-->
<!--        </div>-->

<!--&lt;!&ndash;        ada accessible checkbox&ndash;&gt;-->
<!--        <div style="margin: 1em 0; text-align: center;">-->
<!--            <input type="checkbox" id="ada" name="ada_accessible">-->
<!--            <label for="ada">ADA Accessible</label>-->
<!--        </div>-->

<!--&lt;!&ndash;        unisex checkbox&ndash;&gt;-->
<!--        <div style="margin: 1em 0; text-align: center;">-->
<!--            <input type="checkbox" id="unisex" name="unisex">-->
<!--            <label for="unisex">Unisex</label>-->
<!--        </div>-->

<!--&lt;!&ndash;        submit&ndash;&gt;-->
<!--        <div style="margin: 2em 0; text-align: center;">-->
<!--            <button type="submit">Search</button>-->
<!--        </div>-->

<!--        with css -->
        <div>
            <label for="event">Enter your event:</label>
<!--            <input type="text" id="event" name="event" class="input-box">-->
        </div>
        <div>
            <input type="text" id="event" name="event" class="input-box">
        </div>
        <div>
            <input type="checkbox" id="ada" name="ada_accessible">
            <label for="ada">ADA Accessible</label>
        </div>
        <div>
            <input type="checkbox" id="unisex" name="unisex">
            <label for="unisex">Unisex</label>
        </div>
        <div>
            <button type="submit">Search</button>
        </div>

    </form>
</main>
{% endblock %}



